@{
    ViewData["Title"] = "User Profile";
    var apiBaseUrl = ViewBag.ApiBaseUrl; // Lấy URL API từ ViewBag
    var imageBaseUrl = ViewBag.ImageBaseUrl; // Lấy URL API từ ViewBag
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>IT APARTMENT</title>



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/user-profile.css" rel="stylesheet" />

    <!-- Bootstrap Datepicker CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




</head>

<body className='snippet-body'>


</body>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="/home/homepage">
                        <img src="~/images/apartment.png" alt="" />
                        <span>
                            IT APARTMENT
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>



                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/user/homepage">Trang chủ <span class="sr-only">(current)</span></a>
                            </li>

                            @*    <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AboutPages", "About")">Về chúng tôi</a>
                            </li> *@
                            @*    <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("WorkPages", "Work")">Tra cứu</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link" href="/user/feedback">Phản hồi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/input">Hóa đơn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/profile">Thành viên</a>
                            </li>



                        </ul>



                        <div class="user_option">
                            <a href="#">
                                <span>

                                    <div class="button-container">
                                        <a class="btn btn-secondary" href="#" role="button">
                                            Tài khoản  : &nbsp; <span id="userIdDisplay"></span>
                                        </a>
                                    </div>

                                </span>

                            </a>

                            <span id="logoutBtn" style="cursor: pointer; margin-left: 10px; color: white;">
                                Đăng xuất
                            </span>

                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                @*  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button> *@
                            </form>
                        </div>



                    </div>
                    <div>
                        <div class="custom_menu-btn ">
                            <button>
                                <span class=" s-1">

                                </span>
                                <span class="s-2">

                                </span>
                                <span class="s-3">

                                </span>
                            </button>
                        </div>
                    </div>

                </nav>
            </div>
        </header>
    </div>



    <!-- Modal thông báo đăng xuất thành công -->
    <div class="modal fade" id="LogoutSuccessModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Đăng xuất tài khoản thành công</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmLogout">Ok</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal thông báo kê khai thông tin thành công -->
    <div class="modal" id="successCreateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn đã kê khai thông tin thành công thành công!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal thông báo cập nhập thông tin thành công -->
    <div class="modal" id="successUpdateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn đã cập thông tin thành công !</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Phần Danh sách cư dân của phòng -->
    <div class="container rounded bg-white mt-5 mb-5" id="danhSachCuDan">
        <div class="row" style="border: 2px solid #dee7eb;border-radius: 8px;padding: 20px;margin-top: 20px;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);">
            <section class="experience_section layout_padding" style="padding-bottom: 10    0px;min-width: 0px;padding-top: 50px;" ">
                <div class="container">
                    <label for="exampleInputEmail1">
                        <strong style="display: none;">Mã phòng </strong> <span id="maPhongLabel" style="display: none;"></span>
                        <strong>Thành viên phòng :</strong> <span id="tenPhongLabel"></span>
                    </label>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="hidden-column">Mã cư dân</th>
                                    <th scope="col">Họ tên </th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">Căn cước công dân</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Quê quán</th>
                                    <th scope="col">Quan hệ</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="khachTableBody">
                                <tr>
                                    <th scope="row">Trống</th>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                    <td>Trống</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
            @* <div class="container" style="text-align: center;">
                    <button type="button" class="btn btn-primary" onclick="showDetail()">Kê khai thông tin khách mới</button>
                    </div> *@
                    <div class="container" style="text-align: center;">
                        <button id="keKhaiKhachMoiBtn" class="btn btn-primary create-button">Kê khai thông tin khách mới</button>
                    </div>


                    <br />
                </div>
            </section>
        </div>





    </div>


            @* Thông tin chi tiết của cư dân *@
    <div id="chiTietCuDan" class="container rounded bg-white mt-5 mb-5" style="display: none;">
            @*  sử dụng style="display: none; để ẩn Thông tin chi tiết của cư dân *@
        <div class="row" style="border: 2px solid #dee7eb;border-radius: 8px;padding: 20px;margin-top: 20px;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="mt-5 img-chuky" width="150px" src="~/images/signature.png">


                    <span class="text-black-50" id="chuKyName">default.jpg</span>
                    <span class="font-weight-bold">Ảnh chữ ký</span>
                    <span>

                    </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Thông Tin Chi Tiết</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12" style="display: none;">
                            <label class="labels">Mã Khách Trọ </label>
                            <input type="text" class="form-control" placeholder="Mã khách trọ" id="hiddenMaKhachTro" value="">
                        </div>
                        <div class="col-md-12"><label class="labels">Họ Tên </label><input type="text" class="form-control" placeholder="Nhập họ tên" value=""></div>
                        <div class="col-md-12">
                            <label class="labels">Giới tính</label>
                            <select name="gioiTinh" class="form-control">
                                <option value="">Chọn giới tính</option> <!-- Tùy chọn mặc định -->
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>


                        <div class="col-md-12">
                            <label class="labels">Ngày Sinh</label>
                            <input type="date" class="form-control" id="datepicker" placeholder="Chọn ngày sinh" />
                        </div>





                        <div class="col-md-12"><label class="labels">Số Điện Thoại</label><input type="text" class="form-control" placeholder="Nhập số điện thoại" value=""></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="Nhập email" value=""></div>
                        <div class="col-md-12" style="display: none;"><label class="labels">Mã phòng </label><input type="text" class="form-control" placeholder="Thông tin phòng" value="" readonly></div>
                        <div class="col-md-12" ><label class="labels">Phòng</label><input type="text" class="form-control" placeholder="Thông tin tên phòng" id="tenPhongInput" value="" readonly></div>

                        <div class="col-md-12">
                            <label class="labels">Quan hệ</label>
                        
                          @*   <select id="selectQuanHe" class="form-control">
                                <option value="">Chọn Quan Hệ</option>
                            </select> *@
                            <select name="quanHe" id="selectQuanHe" class="form-control">
                                <option value="">Chọn Quan Hệ</option>
                            </select>


                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Lưu thông tin </button></div>
                    <div class="col-md-12" style="text-align: center;">
                        <!-- Nút bấm bằng hình ảnh -->
                        <button class="btn-image" style="border: none; background: none; padding: 0;">
                            <img src="~/images/arrow-left-big.png" alt="Quay lại" style="cursor: pointer;">
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Thông tin CCCD</span>

                        <span class="border px-3 p-1 add-experience">
                            <i class="fa fa-plus"></i>&nbsp;Chọn ảnh chữ ký
                        </span>
                        <input type="file" id="chuKyInput" style="display: none;" accept="image/*" />


                    </div>
                    <br>
                    <div class="col-md-12"><label class="labels">Số căn cước</label><input type="text" class="form-control" placeholder="Nhập số căn cước" value=""></div>
                    <div class="col-md-12"><label class="labels">Nơi cấp</label><input type="text" class="form-control" placeholder="Nhập nơi cấp" value=""></div>

                

                    <div class="col-md-12">
                        <label class="labels">Quê quán</label>
                        <select class="form-control" name="queQuan" id="queQuan">
                            <option value="">Chọn quê quán</option> <!-- Tùy chọn mặc định -->
                            <!-- Gọi API hiển thị danh sách tỉnh thành bằng Script -->
                        </select>
                    </div>


                    <div class="col-md-12"><label class="labels">Thường trú</label><input type="text" class="form-control" placeholder="Nhập nơi thường trú" value=""></div>

           

                    <div class="col-md-12">
                        <label class="labels">Ngày Cấp</label>
                        <input type="date" class="form-control" id="datepicker_ngaycap" placeholder="Chọn ngày cấp" />
                    </div>


                    <div class="col-md-12" style="display: none;">
                        <label class="labels">Trạng thái</label>
                        <select class="form-control" name="trangThaiKhach">
                            <option value="">Chọn trạng thái</option> <!-- Tùy chọn mặc định -->
                            <option value="1">Đang cư trú</option>
                            <option value="0">Đã rời đi</option>
                        </select>
                    </div>




                </div>
            </div>
        </div>
    </div>

    

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-9 mx-auto">
                    <div class="img-box">
                        <img style="width:40%;" src="/images/kekhai.png" alt="">
                    </div>
                </div>
            </div>
            <div class="detail-box">
            </div>
        </div>
    </section>


    


    <!-- end about section -->
    <!-- info section -->

    <section class="info_section ">
        <div class="info_container layout_padding-top">
            <div class="container">
                <div class="info_top">
                    <div class="info_logo">
                        <img src="~/images/apartment.png" alt="" />
                        <span>

                            IT APARTMENT

                        </span>
                    </div>
                    <div class="social_box">
                        <a href="https://www.facebook.com/trihvn">
                            <img src="~/images/fb.png" alt="">
                        </a>
                        @*  <a href="#">
                        <img src="~/images/twitter.png" alt="">
                        </a> *@
                        <a href="https://www.linkedin.com/in/itatri">
                            <img src="~/images/linkedin.png" alt="">
                        </a>
                        <a href="http://www.instagram.com/trihvn">
                            <img src="~/images/instagram.png" alt="">
                        </a>
                        @*  <a href="#">
                        <img src="~/images/youtube.png" alt="">
                        </a> *@
                    </div>
                </div>

                <div class="info_main">
                    <div class="row">
                        <div class="col-md-3 col-lg-2">
                            <div class="info_link-box">
                                <h5>
                                    Liên kết
                                </h5>
                                <ul>
                                    <li class=" active">
                                        <a class="" href="/home/homepage">Trang chủ <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/user/feedback">Phản hồi  </a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/user/input">Hóa đơn </a>
                                    </li>
                                    <li class="">
                                        <a class="" href="/user/profile">Thành viên </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <h5>
                                Văn phòng
                            </h5>
                            <p>
                                Tại 163 Tây Thạnh, Tân Phú , Hồ Chí Minh
                            </p>
                        </div>

                        <div class="col-md-3 col-lg-2 offset-lg-1">
                            <h5>
                                Thông tin
                            </h5>
                            <p>
                                Cung cấp dịch vụ căn hộ và hỗ trợ khách hàng sử dụng dịch vụ
                            </p>
                        </div>

                        <div class="col-md-3  offset-lg-1">
                            @*    <div class="info_form ">
                            <h5>
                            Liên hệ
                            </h5>
                            <form action="">
                            <input type="email" placeholder="Email">
                            <button>
                            Gửi
                            </button>
                            </form>
                            </div> *@
                            <div class="info_form ">
                                <h5>
                                    Liên hệ
                                </h5>
                                @*  <form action="">
                                <input type="email" placeholder="Email">
                                <button>
                                Gửi
                                </button>
                                </form> *@
                                <form id="emailForm">
                                    <input type="email" id="toEmail" placeholder="Email" required>
                                    <button type="submit">Gửi</button>
                                </form>
                                @*   <p>
                                Liên hệ chúng tôi qua các thông tin liên hệ hiển thị trên trang web hoặc có thể gặp trực tiếp tại văn phòng
                                </p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-10 mx-auto">
                        <div class="info_contact layout_padding2">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="~/images/location.png" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h6>
                                                Tân Phú
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="~/images/mail.png" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h6>
                                                itapartment@gmail.com
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="~/images/call.png" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h6>
                                                Call +03 89634776
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Lỗi nhập liệu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Thông báo lỗi sẽ được hiển thị ở đây -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal thông báo gửi Email thành công -->
    <div class="modal fade" id="SendEmailSuccessModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Gửi email thành công!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmButton">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end info section -->
    <!-- footer section -->
    <footer class="container-fluid footer_section ">
        <div class="container">
            <p>
                &copy; <span id="displayDate"></span> All Rights Reserved By
                <a href="https://github.com/Itatri">Itatri</a>
            </p>
        </div>
    </footer>
    <!-- end  footer section -->


    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>





    <script>
          function loadProvinces() {
            // Gọi API lấy danh sách tỉnh thành
            $.ajax({
                url: 'https://provinces.open-api.vn/api/p', // URL API để lấy danh sách tỉnh thành
                type: 'GET',
                success: function(response) {
                    // Kiểm tra nếu API trả về dữ liệu
                    if (response && response.length > 0) {
                        var select = $('#queQuan');
                        // Duyệt qua danh sách các tỉnh thành và tạo các option
                        response.forEach(function(province) {
                            select.append(
                                $('<option>', {
                                    value: province.name,  // Tên tỉnh thànhh làm giá trị
                                    text: province.name    // Tên tỉnh thành làm label
                                })
                            );
                        });
                    } else {
                        console.log('Không có dữ liệu tỉnh thành');
                    }
                },
                error: function() {
                    console.log('Đã xảy ra lỗi khi lấy danh sách tỉnh thành');
                }
            });
        }

             function loadQuanHe() {
            $.ajax({
                url: '@apiBaseUrl/api/ThongTinKhaches/GetQuanHe',  // Ensure this URL matches the correct API route
                type: 'GET',
                success: function(data) {
                    if (data && Array.isArray(data)) {
                        var select = $('#selectQuanHe');
                        // Clear existing options
                        select.empty();
                        // Add default placeholder option
                        select.append('<option value="">Chọn Quan Hệ</option>');

                        // Loop through each quanHe and append it as an option
                        data.forEach(function(item) {
                            select.append('<option value="' + item + '">' + item + '</option>');
                        });
                    } else {
                        alert('Không thể tải danh sách quan hệ.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching quanHe list:', error);
                    alert('Có lỗi xảy ra khi tải danh sách quan hệ.');
                }
            });
        }

        $(document).ready(function () {
         
            // Lấy thông tin loginResponse từ localStorage
            var loginResponse = JSON.parse(localStorage.getItem('loginResponse'));

            // Kiểm tra xem loginResponse có tồn tại hay không
            if (loginResponse) {
                var user = loginResponse.user;

                // Hiển thị userId nếu có
                if (user?.id) {
                    $('#userIdDisplay').text(user.id);
                }

                // Các thông tin khác từ loginResponse, nếu cần hiển thị
                console.log('Token:', loginResponse.token);
                console.log('User:', user);
                console.log('Mã phòng:', user?.maPhong);
                console.log('Trạng thái:', user?.trangThai);


                // Hiển thị mã phòng
                var maPhong = user?.maPhong;

                        // Fetch and display TenPhong using maPhong
                if (user?.maPhong) {
                    $.ajax({
                        url: `@apiBaseUrl/api/UserPhongs/GetPhongByMaPhong?maPhong=${user.maPhong}`,
                        type: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + loginResponse.token
                        },
                        success: function (response) {
                            if (response) {
                                $('#tenPhongLabel').text(response.tenPhong || 'Không tìm thấy tên phòng');
                                 $('#tenPhongInput').val(response.tenPhong || 'Không tìm thấy tên phòng');
                            } else {
                                $('#tenPhongLabel').text('Không tìm thấy tên phòng');
                                  $('#tenPhongInput').val('Không tìm thấy tên phòng');
                            }
                        },
                        error: function () {
                            $('#tenPhongLabel').text('Không tìm thấy tên phòng');
                             $('#tenPhongInput').val('Không tìm thấy tên phòng');
                        }
                    });
                }

                if (maPhong) {

                    $('#maPhongLabel').text(maPhong);

                    // Gọi API để lấy thông tin khách theo mã phòng
                    $.ajax({
                        url: '@apiBaseUrl/api/ThongTinKhaches/GetThongTinKhachByPhong',
                        type: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + loginResponse.token
                        },
                        data: { maPhong: maPhong },
                        success: function (response) {
                            if (response.isSuccess && response.khachs && response.khachs.length > 0) {
                                var khachTableBody = $('#khachTableBody');
                                khachTableBody.empty(); // Xóa nội dung cũ trong bảng

                                // Lặp qua danh sách khách và thêm từng hàng vào bảng
                                response.khachs.forEach(function (khach) {

                                    var trangThaiClass = khach.trangThai ? 'text-success' : 'text-danger';
                                    var trangThaiText = khach.trangThai ? 'Đang cư trú' : 'Đã rời đi';

                                    var row = `
                                                                                <tr>

                                                                                    <th scope="row" class="hidden-column">${khach.maKhachTro}</th>  <!-- Thêm class để ẩn cột -->
                                                                                    <td>${khach.hoTen}</td>
                                                                                    <td>${khach.gioiTinh}</td>
                                                                                    <td>${khach.ngaySinh ? new Date(khach.ngaySinh).toLocaleDateString() : 'Trống'}</td>
                                                                                    <td>${khach.cccd}</td>
                                                                                    <td>${khach.phone}</td>
                                                                                    <td>${khach.email}</td>
                                                                                    <td>${khach.queQuan}</td>
                                                                                    <td>${khach.quanHe}</td>
                                                                                      <td class="${trangThaiClass}">${trangThaiText}</td>
                                                                                    <td><button class="btn btn-primary"  style="width: 115px; font-size: 12px;" >Xem chi tiết</button></td>
                                                                                </tr>
                                                                            `;
                                    khachTableBody.append(row);
                                });
                            } else {
                                alert(response.message || 'Không tìm thấy thông tin khách.');
                            }
                        },
                        error: function (error) {
                            console.error('Đã xảy ra lỗi:', error);
                            alert('Không thể lấy thông tin khách.');
                        }
                    });
                } else {
                    $('#maPhongLabel').text('Không tìm thấy mã phòng');
                }

            }

            // Xử lý sự kiện nhấn vào nút Đăng xuất
            $('#logoutBtn').on('click', function () {
                // Xóa toàn bộ thông tin từ localStorage
                localStorage.removeItem('loginResponse');

                // Kiểm tra xem loginResponse đã bị xóa chưa
                console.log('loginResponse:', localStorage.getItem('loginResponse')); // Sẽ in ra null nếu đã xóa thành công

                // Hiển thị Modal thông báo đăng xuất thành công
                $('#LogoutSuccessModal').modal('show');
            });

            // Xử lý sự kiện khi người dùng nhấn nút "Ok" hoặc đóng Modal
            $('#LogoutSuccessModal').on('hidden.bs.modal', function () {
                // Chuyển hướng người dùng về trang đăng nhập khi Modal bị đóng
                window.location.href = '/home/homepage';
            });

            // Đảm bảo chỉ chuyển hướng khi nhấn "OK"
            $('#confirmLogout').on('click', function () {
                $('#LogoutSuccessModal').modal('hide'); // Đóng Modal
            });



            var loginResponse = JSON.parse(localStorage.getItem('loginResponse'));
            var maPhong = loginResponse?.user?.maPhong;

            if (maPhong) {
                $('#maPhongLabel').text(maPhong);
            } else {
                $('#maPhongLabel').text('Không tìm thấy mã phòng');
            }





            // Sự kiện click cho nút "Xem chi tiết"
            $(document).on('click', '.btn-primary:not(.profile-button)', function () {
                // Lấy mã khách trọ từ cột đầu tiên của hàng hiện tại
                var maKhachTro = $(this).closest('tr').find('th.hidden-column').text().trim();

                if (maKhachTro) {
                    // Lưu mã khách trọ vào input ẩn
                    $('#hiddenMaKhachTro').val(maKhachTro);

                    // Gọi API để lấy thông tin khách theo mã khách trọ
                    $.ajax({
                        url: '@apiBaseUrl/api/ThongTinKhaches/GetThongTinKhachByMaKhachTro',
                        type: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + loginResponse.token
                        },
                        data: { maKhachTro: maKhachTro },  // Truyền mã khách trọ vừa lấy
                        success: function (response) {
                            if (response.isSuccess && response.khachs && response.khachs.length > 0) {
                                var khach = response.khachs[0];  // Lấy thông tin khách đầu tiên trong danh sách

                                // Đổ dữ liệu vào các trường trên giao diện
                                $('input[placeholder="Nhập họ tên"]').val(khach.hoTen);
                                // Sử dụng class để chọn thẻ select
                                $('select.form-control').val(khach.gioiTinh); // Thay đổi ở đây
                                // $('input[placeholder="Chọn ngày sinh"]').val(new Date(khach.ngaySinh).toLocaleDateString());
                                $('input[placeholder="Chọn ngày sinh"]').val(new Date(khach.ngaySinh).toISOString().slice(0, 10));
                                $('input[placeholder="Nhập số điện thoại"]').val(khach.phone);
                                $('input[placeholder="Nhập email"]').val(khach.email);
                                $('input[placeholder="Thông tin phòng"]').val(khach.maPhong);
                                // Cập nhật quan hệ
                                $('select.form-control').eq(1).val(khach.quanHe);
                                $('input[placeholder="Nhập số căn cước"]').val(khach.cccd);
                                $('input[placeholder="Nhập nơi cấp"]').val(khach.noiCap);
                                $('select.form-control').eq(2).val(khach.queQuan);
                                $('input[placeholder="Nhập nơi thường trú"]').val(khach.thuongTru);
                                // $('input[placeholder="Chọn ngày cấp"]').val(new Date(khach.ngayCap).toLocaleDateString());
                                $('input[placeholder="Chọn ngày cấp"]').val(new Date(khach.ngayCap).toISOString().slice(0, 10));
                                // Cập nhật trạng thái
                                $('select[name="trangThaiKhach"]').val(khach.trangThai); // Cập nhật trạng thái


                                // Cập nhật chữ ký nếu có
                                var chuKyFileName = khach.chuKy || 'default.jpg';
                                $('.img-chuky').attr('src', @imageBaseUrl  + chuKyFileName).on('error', function () {
                                    $(this).attr('src', '/images/signature.png');
                                });
                                $('#chuKyName').text(chuKyFileName);


                                $('#danhSachCuDan').hide();
                                // Hiển thị thông tin chi tiết
                                $('#chiTietCuDan').show();


                            } else {
                                alert('Không tìm thấy thông tin khách.');
                            }
                        },
                        error: function (error) {
                            console.error('Đã xảy ra lỗi:', error);
                            alert('Không thể lấy thông tin khách.');
                        }
                    });
                } else {
                    console.log('Không thể tìm thấy mã khách trọ.');
                }
            });


            // Sự kiện click cho nút "Kê khai thông tin khách mới"
            $('#keKhaiKhachMoiBtn').on('click', function () {
                // Ẩn danh sách cư dân
                $('#danhSachCuDan').hide();

                // Hiển thị chi tiết cư dân
                $('#chiTietCuDan').show();

                // Đặt lại tất cả các trường thông tin trong chi tiết cư dân để nhập thông tin mới
                resetChiTietCuDan(); // Gọi hàm reset
            });



            // Sự kiện click cho nút quay lại
            $(document).on('click', '.btn-image', function () {
                // Ẩn phần thông tin chi tiết
                $('#chiTietCuDan').hide();

                // Hiển thị lại danh sách cư dân
                $('#danhSachCuDan').show();

                // Load lại trang
                location.reload(); // Làm mới lại trang
            });




            $(".profile-button").click(function (event) {
                event.stopPropagation(); // Ngăn chặn sự kiện tiếp tục

                // Lấy giá trị từ các input
                const maKhachTro = $("#hiddenMaKhachTro").val(); // Lấy mã khách trọ từ input ẩn
                const hoTen = $("input[placeholder='Nhập họ tên']").val();
                const gioiTinh = $("select[name='gioiTinh']").val();
                const ngaySinh = $("#datepicker").val(); // Lấy giá trị trực tiếp từ DatePicker
                const soDienThoai = $("input[placeholder='Nhập số điện thoại']").val();
                const email = $("input[placeholder='Nhập email']").val();
                const phong = $("input[placeholder='Thông tin phòng']").val();
                // const quanHe = $("select[name='quanHe']").val();
                const quanHe = $("#selectQuanHe").val();

                const soCCCD = $("input[placeholder='Nhập số căn cước']").val();
                const noiCap = $("input[placeholder='Nhập nơi cấp']").val();
                const thuongTru = $("input[placeholder='Nhập nơi thường trú']").val();
                const queQuan = $("select[name='queQuan']").val();
                const ngayCap = $("#datepicker_ngaycap").val(); // Lấy giá trị trực tiếp từ DatePicker
                const chuKyFile = $("#chuKyInput").prop('files')[0]; // Lấy tệp chữ ký
                // const trangThai = $("select[name='trangThaiKhach']").val(); // Lấy trạng thái từ select
                 const trangThai = 1; // Lấy trạng thái từ select

                       // Kiểm tra dữ liệu nhập
                 // Kiểm tra dữ liệu nhập
                    let errors = [];
                    if (!hoTen) errors.push("Họ tên.");
                    if (!gioiTinh) errors.push("Giới tính");
                    if (!ngaySinh) errors.push("Ngày sinh");
                    if (!soDienThoai) errors.push("Số điện thoại");
                    if (!email) errors.push("Email");
                    if (!quanHe) errors.push("Quan hệ");
                    if (!soCCCD) errors.push("Số căn cước");
                    if (!noiCap) errors.push("Nơi cấp");
                    if (!thuongTru) errors.push("Nơi thường trú");
                    if (!queQuan) errors.push("Quê quán");
                    if (!ngayCap) errors.push("Ngày cấp");

                    // Kiểm tra nếu là "Chủ hộ", phải trên 18 tuổi
                    if (quanHe === "Chủ hộ") {
                        const birthDate = new Date(ngaySinh); // Chuyển đổi ngày sinh thành đối tượng Date
                        const today = new Date();
                        const age = today.getFullYear() - birthDate.getFullYear();
                        const m = today.getMonth() - birthDate.getMonth();
                        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                            age--; 
                        }

                        if (age < 18) {
                            errors.push("Chủ hộ phải trên 18 tuổi.");
                        }
                    }

                    // Nếu có lỗi, hiển thị modal thông báo
                    if (errors.length > 0) {
                        let errorMessage = "Vui lòng nhập đầy đủ thông tin: \n" + errors.join("\n");
                        $("#errorModal .modal-body").text(errorMessage);  // Gán thông báo lỗi vào modal
                        $("#errorModal").modal('show'); // Hiển thị modal lỗi
                        return; // Dừng lại, không thực hiện lưu thông tin
                    }
                // Tạo đối tượng dữ liệu để gửi
                const data = {
                    HoTen: hoTen,
                    GioiTinh: gioiTinh,
                    NgaySinh: ngaySinh,
                    Phone: soDienThoai,
                    Email: email,
                    MaPhong: phong,
                    QuanHe: quanHe,
                    CCCD: soCCCD,
                    NoiCap: noiCap,
                    ThuongTru: thuongTru,
                    QueQuan: queQuan,
                    NgayCap: ngayCap,
                    TrangThai: trangThai
                };

                // Nếu có tệp chữ ký, thêm trường ChuKy vào data
                if (chuKyFile) {
                    data.ChuKy = chuKyFile.name; // Chỉ thêm chuKy nếu tệp được chọn
                }

                // Kiểm tra nếu mã khách trọ có giá trị
                if (maKhachTro) {
                    // Gọi API để cập nhật thông tin khách trọ
                    $.ajax({
                        url: `@apiBaseUrl/api/ThongTinKhaches/UpdateThongTinKhach?maKhachTro=${maKhachTro}`,
                        type: 'PUT',
                        contentType: 'application/json',
                        headers: {
                            'Authorization': 'Bearer ' + loginResponse.token
                        },
                        data: JSON.stringify(data),
                        success: function (response) {
                            $("#successUpdateModal").modal('show');
                            console.log(response);
                            // Nếu có tệp chữ ký, tải nó lên
                            if (chuKyFile) {
                                uploadChuKy(maKhachTro, hoTen, chuKyFile); // Gọi hàm tải chữ ký lên
                            }
                            // location.reload();
                        },
                        error: function (xhr, status, error) {
                            alert("Cập nhật thông tin thất bại!");
                            console.error(xhr.responseText);
                        }
                    });
                } else {
                    // Nếu không có mã khách trọ, gọi API để tạo mới thông tin khách
                    $.ajax({
                        url: '@apiBaseUrl/api/ThongTinKhaches/CreateThongTinKhach',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'Authorization': 'Bearer ' + loginResponse.token
                        },
                        data: JSON.stringify(data),
                        success: function (response) {
                            $("#successCreateModal").modal('show');
                            console.log(response);
                            if (response.isSuccess && response.khachs.length > 0) {
                                const maKhachTroMoi = response.khachs[0].maKhachTro; // Lưu mã khách trọ mới từ phản hồi
                                if (chuKyFile) {
                                    uploadChuKy(maKhachTroMoi, hoTen, chuKyFile); // Gọi hàm tải chữ ký lên với mã khách mới
                                }
                            } else {
                                alert("Tạo khách hàng mới không thành công.");
                            }
                            // location.reload();
                        },
                        error: function (xhr, status, error) {
                            alert("Tạo mới khách thất bại!");
                            console.error(xhr.responseText);
                        }
                    });
                }

                // Hàm tải chữ ký lên server
                function uploadChuKy(maKhachTro, hoTen, chuKyFile) {
                    if (chuKyFile) {
                        const formData = new FormData();
                        formData.append("file", chuKyFile); // Thêm tệp chữ ký vào formData
                        formData.append("maKhachTro", maKhachTro); // Thêm mã khách trọ
                        formData.append("hoTen", hoTen); // Thêm họ tên

                        // Gọi API để tải ảnh chữ ký lên
                        $.ajax({
                            url: '@apiBaseUrl/api/ThongTinKhaches/Upload', // Đường dẫn API để tải tệp
                            type: 'POST',
                            data: formData,
                            headers: {
                                'Authorization': 'Bearer ' + loginResponse.token
                            },
                            processData: false,
                            contentType: false,
                            success: function (uploadResponse) {
                                console.log("Tải ảnh chữ ký lên thành công!");
                                console.log(uploadResponse);

                                // Hiển thị ảnh chữ ký
                                $('.img-chuky').attr('src', @imageBaseUrl + 'CK_' + maKhachTro + '_' + hoTen + '.jpeg').on('error', function () {
                                    $(this).attr('src', '/images/signature.png'); // Nếu có lỗi, hiển thị ảnh mặc định
                                });
                            },
                            error: function (uploadError) {
                                console.log("Tải ảnh chữ ký lên thất bại!");
                                console.error(uploadError.responseText);
                            }
                        });
                    } else {
                        console.log("Không có tệp chữ ký để tải lên.");
                    }
                }
            });





            // Hàm reload trang khi nhấn nút Ok
            $('#successCreateModal .btn-primary').click(function () {
                location.reload();
            });

            $('#successUpdateModal .btn-primary').click(function () {
                location.reload();
            });



            // Hàm để đặt lại tất cả các trường trong chi tiết cư dân
            function resetChiTietCuDan() {
                $('input[placeholder="Nhập họ tên"]').val('');
                $('select[name="gioiTinh"]').val('');
                // $('input[placeholder="Chọn ngày sinh"]').val('');
                $('input[placeholder="Chọn ngày sinh"]').val('');
                $('input[placeholder="Nhập số điện thoại"]').val('');
                $('input[placeholder="Nhập email"]').val('');
                $('input[placeholder="Thông tin phòng"]').val(maPhong); // Gán giá trị mã phòng vào input
                $('select[name="quanHe"]').val('');
                $('input[placeholder="Nhập số căn cước"]').val('');
                $('input[placeholder="Nhập nơi cấp"]').val('');
                $('input[placeholder="Nhập nơi thường trú"]').val('');
                $('select[name="queQuan"]').val('');
                // $('input[placeholder="Chọn ngày cấp"]').val('');
                $('input[placeholder="Chọn ngày cấp"]').val('');
                $('select[name="trangThaiKhach"]').val('');


                // Reset hình chữ ký
                $('.img-chuky').attr('src', '/images/signature.png'); // Đặt về hình ảnh mặc định
                $('#chuKyName').text(''); // Xóa tên chữ ký
                $('#chuKyInput').val(''); // Đặt lại input tệp chữ ký
            }



            // Lắng nghe sự kiện submit của biểu mẫu
            $('#emailForm').on('submit', function (e) {
                e.preventDefault(); // Ngăn chặn gửi form mặc định

                var toEmail = $('#toEmail').val(); // Lấy giá trị email từ input

                // Gọi API để gửi email
                $.ajax({
                    url: '@apiBaseUrl/api/Mails/send?toEmail=' + encodeURIComponent(toEmail),
                    type: 'POST',
                    success: function (response) {
                        // alert(response); // Thông báo thành công
                        $('#SendEmailSuccessModal').modal('show');
                    },
                    error: function (xhr) {
                        alert('Có lỗi xảy ra: ' + xhr.responseJSON.title); // Hiển thị lỗi nếu có
                    }
                });
            });

          



            $(document).on('click', '.add-experience', function () {
                $('#chuKyInput').click(); // Kích hoạt input file khi nhấn vào nút
            });

            // Khi người dùng chọn tệp
            $('#chuKyInput').on('change', function () {
                const file = $(this).prop('files')[0]; // Lấy tệp đã chọn
                if (file) {
                    const reader = new FileReader(); // Tạo đối tượng FileReader để đọc tệp

                    reader.onload = function (e) {
                        // Hiển thị ảnh chữ ký lên giao diện
                        $('.img-chuky').attr('src', e.target.result).on('error', function () {
                            $(this).attr('src', '/images/signature.png'); // Nếu có lỗi, hiển thị ảnh mặc định
                        });
                    };

                    reader.readAsDataURL(file); // Đọc tệp dưới dạng Data URL
                }
            });
             loadQuanHe();
             loadProvinces(); // Gọi hàm để tải danh sách tỉnh thành
        });


    </script>




</body>


</html>







