
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Spering</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="#">
                        <img src="~/images/apartment.png" alt="" />
                        <span>
                            IT APARTMENT
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  ">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="about.html"> About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="work.html">Work </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="category.html"> Category </a>
                            </li>
                        </ul>
                        <div class="user_option">
                            <a href="">
                                <span>
                                    Login
                                </span>
                            </a>
                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <div class="custom_menu-btn ">
                            <button>
                                <span class=" s-1">

                                </span>
                                <span class="s-2">

                                </span>
                                <span class="s-3">

                                </span>
                            </button>
                        </div>
                    </div>

                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>


    <!-- experience section -->

    <section class="experience_section layout_padding">
   

    <div class="container">
        

                   <form id="customerForm">
  <div class="form-group">
    <label for="cccdInput">CCCD</label>
    <input type="text" class="form-control" id="cccdInput" placeholder="Nhập căn cước công dân" required>
    <small id="emailHelp" class="form-text text-muted">Chúng tôi không bao giờ chia sẻ thông tin này với bất kì ai</small>
  </div>
  <div class="form-group">
    <label for="phoneInput">Phone</label>
    <input type="text" class="form-control" id="phoneInput" placeholder="Nhập số điện thoại" required>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="agreeCheck" required>
    <label class="form-check-label" for="agreeCheck">Đồng ý</label>
  </div>
  <button type="submit" class="btn btn-primary">Tra cứu</button>
</form>
<br />
<label for="exampleInputEmail1">Thông tin khách</label>
<br />

<table class="table" id="customerTable">
  <thead>
    <tr>
      <th scope="col">Họ và tên</th>
      <th scope="col">Phòng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" id="customerName">Trống</th>
      <td id="customerRoom">Trống</td>
    </tr>
  </tbody>
</table>





            <br /> <label for="exampleInputEmail1">Thông tin phiếu thu</label> <br />
<table class="table">
              <thead>
                <tr>
                  <th scope="col">Mã phiếu thu</th>
                  <th scope="col">Tiền điện</th>
                  <th scope="col">Tiền nước</th>
                  <th scope="col">Tiền dịch vụ</th>
                 <th scope="col">Tổng tiền </th>
                <th scope="col">Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Trống</th>
                  <td>Trống</td>
                  <td>Trống</td>

                 <td>Trống</td>
                 <td>Trống</td>
                 <td>Trống</td>
                </tr>


              </tbody>
            </table>
                    </div>



    <!-- end experience section -->
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-9 mx-auto">
                    <div class="img-box">
                        <img src="~/images/about-img.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="detail-box">
                <h2>
                    GIỚI THIỆU VỀ IT APARTMENT
                </h2>
                <p>
                    Được thành lập vào năm 2024 , bởi các sinh viên IT trực thuộc Trường đại học Công Thương , với mục đích nhằm nâng cao trải nghiệm và cung cấp dịch tiện lợi cho khách hàng sử dụng căn hộ của hệ thống
                </p>
                <a href="">
                    Đọc tiếp
                </a>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- info section -->

    <section class="info_section ">
        <div class="info_container layout_padding-top">
            <div class="container">
                <div class="info_top">
                    <div class="info_logo">
                        <img src="~/images/apartment.png" alt="" />
                        <span>

                            IT APARTMENT

                        </span>
                    </div>
                    <div class="social_box">
                        <a href="#">
                            <img src="~/images/fb.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/images/twitter.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/images/linkedin.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/images/instagram.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/images/youtube.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="info_main">
                    <div class="row">
                        <div class="col-md-3 col-lg-2">
                            <div class="info_link-box">
                                <h5>
                                    Liên kết
                                </h5>
                                <ul>
                                    <li class=" active">
                                        <a class="" href="index.html">Trang chủ <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="">
                                        <a class="" href="about.html">Về chúng tôi  </a>
                                    </li>
                                    <li class="">
                                        <a class="" href="work.html">Tra cứu </a>
                                    </li>
                                    <li class="">
                                        <a class="" href="category.html">Phản hồi </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <h5>
                                Văn phòng
                            </h5>
                            <p>
                                Tại 163 Tây Thạnh, Tân Phú , Hồ Chí Minh
                            </p>
                        </div>

                        <div class="col-md-3 col-lg-2 offset-lg-1">
                            <h5>
                                Thông tin
                            </h5>
                            <p>
                                Cung cấp dịch vụ căn hộ và hỗ trợ khách hàng sử dụng dịch vụ
                            </p>
                        </div>

                        <div class="col-md-3  offset-lg-1">
                            <div class="info_form ">
                                <h5>
                                    Liên hệ
                                </h5>
                                <form action="">
                                    <input type="email" placeholder="Email">
                                    <button>
                                        Gửi
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-10 mx-auto">
                        <div class="info_contact layout_padding2">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="~/images/location.png" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h6>
                                                Tân Phú
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="~/images/mail.png" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h6>
                                                itapartment@gmail.com
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="~/images/call.png" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h6>
                                                Call +03 89634776
                                            </h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- end info section -->
    <!-- footer section -->
    <footer class="container-fluid footer_section ">
        <div class="container">
            <p>
                &copy; <span id="displayDate"></span> All Rights Reserved By
                <a href="https://github.com/Itatri">Itatri</a>
            </p>
        </div>
    </footer>
    <!-- end  footer section -->


    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>

   <script>
        document.getElementById('customerForm').addEventListener('submit', async function (event) {
          event.preventDefault(); // Ngăn chặn hành động mặc định của form

          // Kiểm tra trạng thái của checkbox
          const agreeCheck = document.getElementById('agreeCheck');
          if (!agreeCheck.checked) {
            alert('Bạn cần đồng ý trước khi tra cứu thông tin!');
            return; // Ngừng thực hiện nếu checkbox không được đánh dấu
          }

          // Lấy giá trị từ input
          const cccd = document.getElementById('cccdInput').value;
          const phone = document.getElementById('phoneInput').value;

          try {
            // Gọi API
            const response = await fetch(`https://localhost:7298/api/ThongTinKhaches/GetThongTinKhachByCDDD_Phone?cccd=${cccd}&phone=${phone}`);
            const data = await response.json();

            if (data.isSuccess) {
              // Cập nhật bảng với thông tin khách
              document.getElementById('customerName').innerText = data.khach.hoTen || 'Không có dữ liệu';
              document.getElementById('customerRoom').innerText = data.khach.maPhong || 'Không có dữ liệu';
            } else {
              // Xử lý thông báo khi không tìm thấy thông tin
              alert(data.message);
              document.getElementById('customerName').innerText = 'Trống';
              document.getElementById('customerRoom').innerText = 'Trống';
            }
          } catch (error) {
            console.error('Lỗi:', error);
            alert('Có lỗi xảy ra trong quá trình gọi API.');
          }
        });
</script>



</body>
@* </body *@>

</html>